{% extends "parent.html" %}

{% block content %}



    <div class="row">
         <div class="col-md-1"></div>
        <div class="col-md-5">
                                    <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/static/image/pic.png" alt="" width="120px", height="120px" style="width: 120px;height: 120px"></div>
                    </div>
                    <div class="info">
                        <br>
                        <div class="name"><b>SIDIBE Ali Broma</b></div>
                        Etudiant en finance de marché<br> Master 2 Mathématiques Financière<br>
                         Université du Havre.

                        <div class="contacts">
                            <a href="#">bromasidibe@gmail.com</a><br>
                            <a href="https://www.linkedin.com/in/ali-sidibe-93a738152/">Linkedin</a>
                        </div>
                    </div>
                </div>

                                </div>

                                <div class="col-md-5">
                                   <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/static/img/contact/sergey-s.png" alt=""></div>
                    </div>
                    <div class="info">
                        <div class="name">Petitjean Enzo</div>
                        <br>Etudiant <br> Master 2 Mathematiques Financiere,<br> Université du Havre.

                        <div class="contacts">
                            <a href="#">enzo.petitjean@etu.univ-lehavre.fr</a><br>
                            <a href="#">@stSilent</a>
                        </div>
                    </div>
                </div>
                                </div><div class="col-md-1"></div>
     </div>

{% endblock %}



