{% extends "parent_about.html" %}

{% block content %}



    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="member">
                <div class="photo-wrapper">
                    <div class="photo"><img src="/static/image/pic.png" alt="" width="160px", height="160px" style="width: 160px;height: 160px"></div>
                </div>
                <div class="info">
                    <br>
                    <div class="name"><b>SIDIBE Ali Broma</b></div>
                    <br> Financial Engineering & Risk Management<br>
                    Sorbonne Management School.

                    <div class="contacts">
                        <a href="#">bromasidibe@gmail.com</a><br>
                        <a href="https://www.linkedin.com/in/ali-sidibe-93a738152/">Linkedin</a>
                    </div>
                </div>
            </div>

        </div>
         <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="member">
                <div class="photo-wrapper">
                    <div class="photo"><img src="/static/image/pic.png" alt="" width="160px", height="160px" style="width: 160px;height: 160px"></div>
                </div>
                <div class="info">
                    <br>
                    <div class="name"><b>SIDIBE Ali Broma</b></div>
                    <br> Financial Engineering & <br> Risk Management<br>
                    Sorbonne Management School.
                    <div class="contacts">
                        <a href="#">bromasidibe@gmail.com</a><br>
                        <a href="https://www.linkedin.com/in/ali-sidibe-93a738152/">Linkedin</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-1"></div>
    <div class="col-md-3">
            <div class="member">
                <div class="photo-wrapper">
                    <div class="photo"><img src="/static/image/pic.png" alt="" width="160px", height="160px" style="width: 160px;height: 160px"></div>
                </div>
                <div class="info">
                    <br>
                    <div class="name"><b>SIDIBE Ali Broma</b></div>
                    <br> Financial Engineering & Risk Management<br>
                    Sorbonne Management School.

                    <div class="contacts">
                        <a href="#">bromasidibe@gmail.com</a><br>
                        <a href="https://www.linkedin.com/in/ali-sidibe-93a738152/">Linkedin</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}



