{% extends "parent.html" %}



{% block content %}



    <div class="row">
         <div class="col-md-1"></div>
        <div class="col-md-5">
                 Rapport : <a href="https://fr.slideshare.net/secret/wtDgDnJnLv2GVP">https://fr.slideshare.net/secret/wtDgDnJnLv2GVP</a>



        </div>

                                <div class="col-md-5">Rapport : <a href="https://github.com/abskalana/imfl_bopm2sbm">https://github.com/abskalana/imfl_bopm2sbm </a>
                                </div><div class="col-md-1"></div>
     </div>

{% endblock %}



