<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hull White model</title>

    <meta name="description" content=" Numerical implementation of Hull White model using python">
    <meta name="author" content="Ayten Fabricio Ali">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<style>
    table, tr td {
        border: 1px solid red
    }

    tbody {
        display: block;
        max-height: 90%;
        overflow-y: scroll;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead {
        width: 100%;
    }

    table {
        width: 100%;
    }

</style>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Resources</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about/">About</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <br><br><br>


               <div class="page-header" style="margin: 1%">
                <h1>
                    Hull White
                    <small> Numerical implementation of Hull White model using python</small>
                </h1>
                <p>
                    The purpose of this website is to implement the interest rate model Hull White
            </div>
            <br><br>


            <div class="row center-block text-center">

                Le code  se trouve ici : <a href="https://github.com/abskalana/hull_white">https://github.com/abskalana/hull_white </a>

                Un api de test



            </div>
        </div>
    </div>

</body>
</html>