
{% extends "base_app.html" %}


{% block navigation %}
{% endblock %}
            {% block content %}


             <br><br><br>


               <div class="page-header" style="margin: 1%">
                <h1>
                    Hull White
                    <small> Numerical implementation of Hull White model using python</small>
                </h1>
                <p>
                    The purpose of this website is to implement the interest rate model Hull White
            </div>
            <br><br>


            <div class="row center-block text-center">

                Le code  se trouve ici : <a href="https://github.com/abskalana/hull_white">https://github.com/abskalana/hull_white </a>

                Un api de test




            {% endblock %}
        </div>
    </div>


