<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hull White model</title>

    <meta name="description" content=" Numerical implementation of Hull White model using python">
    <meta name="author" content="Ayten Fabricio Ali">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<style>
    table, tr td {
        border: 1px solid red
    }

    tbody {
        display: block;
        max-height: 90%;
        overflow-y: scroll;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead {
        width: 100%;
    }

    table {
        width: 100%;
    }

</style>
<body onc>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Hull White</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/document/">Resources</a>
                        </li>
                        <li>
                            <a href="/about/">About</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <br><br><br>

            {% block content %}

                <div class="page-header" style="margin: 1%">
                    <h1>
                        Hull White
                        <small> Numerical implementation of Hull White model using python</small>
                    </h1>
                    <p>
                        The purpose of this website is to implement the interest rate model Hull White
                </div>
                <br><br><br>

                <form role="form" id="computeForm" method="get" action="/">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">

                                    <div class="col-xs-3">
                                        <label for="volatility">Volatilty</label>
                                        <input class="form-control"
                                               name="volatility" value="{{ input.volatility }}">
                                    </div>

                                    <div class="col-xs-3">
                                        <label for="alpha">Alpha </label>
                                        <input class="form-control"
                                               id="alpha" name="alpha" value="{{ input.alpha }}">
                                    </div>

                                    <div class="col-xs-3">
                                        <label for="maturity">Maturity</label>
                                        <input class="form-control" type="number" step="1" id="maturity" name="maturity"
                                               value="{{ input.maturity }}" onchange="addInput()" on>
                                    </div>

                                    <div class="col-xs-3">
                                        <label for="ex3">Period</label>
                                        <select class="form-control" id="period" name="period">

                                          {% if hw.step == 'years' %}
                                                <option value="year" selected>Year</option>
                                            {% else %}
                                                <option value="year">Year</option>
                                            {% endif %}

                                            {% if hw.step == 'days' %}
                                                <option value="day" selected>Day</option>
                                            {% else %}
                                                <option value="day">Days</option>
                                            {% endif %}

                                            {% if hw.step == 'week' %}
                                                <option value="week" selected>Week</option>
                                            {% else %}
                                                <option value="week">Week</option>
                                            {% endif %}

                                            {% if hw.step == 'month' %}
                                                <option value="month" selected>Month</option>
                                            {% else %}
                                                <option value="month">Month</option>
                                            {% endif %}

                                            {% if hw.step == 'quarter' %}
                                                <option value="quarter" selected>Quarter</option>
                                            {% else %}
                                                <option value="quarter">Quarter</option>
                                            {% endif %}

                                            {% if hw.step == 'semester' %}
                                                <option value="semester" selected>Semester</option>
                                            {% else %}
                                                <option value="semester">Semester</option>
                                            {% endif %}

                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <label for="rate">Source des taux </label><br>
                                        <form>
                                            {% if input.source_rate == 'bloomberg' %}
                                                <input type="radio" name="source_rate" value="bloomberg" checked
                                                       onchange="bloomberg()"> Bloomberg
                                                <input type="radio" name="source_rate" value="manual"
                                                       style="margin-left: 10px" onchange="onManual()"> Manual
                                            {% else %}
                                                <input type="radio" name="source_rate" value="bloomberg"
                                                       onchange="bloomberg()"> Bloomberg
                                                <input type="radio" name="source_rate" value="manual" checked
                                                       style="margin-left: 10px" onchange="onManual()"> Manual
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <div style="overflow-x: scroll;width: 100%; white-space: nowrap;">
                                        <span id="ratebar"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 20px">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-block  btn-primary" id="exampleInputEmail1"/>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </form>


                <div class="row" style="margin: 1%">


                    <div class="col-md-4" style="height: 650px;padding: 5px;border: 1px solid #ecf0f1">
                        <h5>Transition probability</h5>
                        <table  cellpadding="5" class="table table-bordered table-hover table-condensed"
                               style="width: 100%;overflow: scroll;height: 100%">
                            <thead>
                            <tr>

                                <th>
                                    Node
                                </th>
                                <th>
                                    r
                                </th>
                                <th>
                                    Pu
                                </th>
                                <th>
                                    Pm
                                </th>
                                <th>
                                    Pd
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for hwstep in hw.hwsteps %}

                                {% for item in hwstep.nodes %}

                                    <tr>

                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            {{ item.rate|floatformat:4}}
                                        </td>
                                        <td>
                                            {{ item.pu}}
                                        </td>
                                        <td>
                                            {{ item.pm }}
                                        </td>
                                        <td>
                                            {{ item.pd}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-7" style="height: 650px;padding: 5px;background-color: #ecf0f1">
                        <div>{{ div_figure|safe }}</div>
                    </div>
                </div>
                </div>
                </div>
            {% endblock %}
</div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>

<script type="text/javascript">

    window.onload = function () {
        addInput();
        var input_js = ({{ input_json|safe }})
        if (input_js.source_rate.startsWith("b")) {
            bloomberg();
        } else {
            onManual();
        }

    }

    function addInput() {
        var foo = document.getElementById("ratebar");
        while (foo.firstChild) foo.removeChild(foo.firstChild);
        var maturity = parseInt(document.getElementById("maturity").value)+1;
        for (var i = 0; i < maturity; i++) {
            var element = document.createElement("input");
            element.setAttribute("name", "rate");
            element.setAttribute("id", "rate" + i);
            element.setAttribute("style", "border: 2px solid #CCC; width:80px;height:40px; margin : 10px; padding: 10px");

            var newlabel = document.createElement("Label");
            newlabel.setAttribute("for", "rate" + i);
            newlabel.innerHTML = "Rate year " + (i + 1);
            foo.appendChild(newlabel);
            foo.appendChild(element);
        }
    }

    function bloomberg() {
        var maturity = parseInt(document.getElementById("maturity").value)+1;
        var input_js = ({{ input_json|safe }})
        console.log(input_js.source_rate.startsWith("b"));
        for (var i = 0; i < maturity; i++) {
            var element = document.getElementById("rate" + i);
            if (input_js.source_rate.startsWith("b")) {
                element.value = input_js.rate[i];
            } else {
                element.value = "";
            }
        }
    }

    function onManual() {
        var maturity = parseInt(document.getElementById("maturity").value)+1;
        var input_js = ({{ input_json|safe }})
        for (var i = 0; i < maturity; i++) {
            var element = document.getElementById("rate" + i);
            if (input_js.source_rate.startsWith("m")) {
                element.value = input_js.rate[i];
            } else {
                element.value = "";
            }
        }
    }
</script>

</body>
</html>